.todoItem {
  width: 100%;
  padding: 12px 16px;
  background-color: #c6d45f;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: navy;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
/* @keyframes hover {
  0% {
    background-color: #00aaff;
    padding: 12px 16px;
  }
  100% {
    background-color: #d25757;
    padding: 12px 89px;
  }
}

.todoItem:hover {
  background-color: #c4d257;
  padding: 12px 89px;
  transition: all 0.7s ease-in-out;
  animation: hover 0.7s ease-in-out;
} */

.strikethrough {
  text-decoration: line-through;
  color: #ff0000;
}

.todoItemLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  gap: 12px;
}

.fatrashcan {
  cursor: pointer;
  font-size: 12px;
  color: navy;
  font-weight: 400;
}

.fatrashcan:hover {
  color: #ff0000;
}
