.todoItem {
  width: 100%;
  padding: 12px 16px;
  background-color: #c6d45f;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: navy;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.deleteX {
  cursor: pointer;
  font-size: 14px;
  border: 1px solid rgb(205, 189, 7);
  padding: 0 6px;
  background-color: #9fa847;
  color: rgb(44, 44, 90);
  font-weight: 400;
}

.deleteX:hover {
  background-color: #c6d45f;
}

.strikethrough {
  text-decoration: line-through;
  color: #ff0000;
}
